body {
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 77px 0 0;
}
.site-navigation a {
  color: #626262;
  text-decoration: none;
  line-height: 24px;
  text-transform: uppercase;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #03a9f4;
}
.menu-item {
  display: inline-block;
}
.wrapper {
  margin: 0 auto;
  width: 901px;
}
.life {
  margin-right: 121px;
}
.photo {
  margin-right: 103px;
}
.music {
  margin-right: 95px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.lifestyle {
  margin-top: 104px;
}
.lp {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  color: #b4ad9e;
}
.h2 {
  font-size: 30px;
  font-weight: 300;
}
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 135px;
  font-size: 0;
}
.features-listitems {
  display: inline-block;
  width: 421px;
  font-size: ;
}
.features-listitems p {
  font-size: 14px;
}
.marginrt {
  margin-right: 55px;
}
/* .lifestyle1 {
  margin-top: 135px;
}
.lifestyle2 {
  margin-top: 141px;
} */
.foot {
  margin-top: 41px;
  margin-bottom: 71px;
}
.button:hover {
  color: #626262;
}
.button {
  color: #626262;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid #626262;
  display: block;
  width: 164px;
  height: 60px;
  text-align: center;
  line-height: 57px;
  margin-left: 358px;
}
